@use "@/style/variables.module" as v;

// .test {
//   font-family: "SF Pro Text";
//   font-weight: 500;
//   color: v.$primary-gray;
// }

.container {
  display: flex;
  align-items: flex-start;
  gap: 23px;
  // height: 100%;
}