@use "@/style/variables.module" as v;

.button {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  padding: 10px 16px;
  color: v.$white;
  background-color: v.$orange;
  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover {
    background-color: rgba($color: v.$orange, $alpha: 0.8);
  }

  &[data-variant="outlined"] {
    color: v.$orange;
    background-color: transparent;
    border: 1px solid v.$orange;
  }
  &[data-variant="none"] {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &:disabled,
  &[disabled="true"] {
    cursor: not-allowed;
    background-color: v.$orange-disabled;
  }
}
